<h1> Admin Login Page</h1>

<%= form_for :@agentl, url: '/logvalidate'  do |f| %>
 
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  
 
  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>
 
  <p>
    <%= f.submit "login" %>
  </p>
 
<% end %>
 
 <p>Don't have an account Yet? have a <%= link_to 'SignUp', new_agent_path %> </p> 
 
 <p> signup now..</p> 