
 <h1> Agent Signup Page</h1>

 
<%= form_for :@agent, url:'/agent'   do |f| %>

<p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    </p>
    
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
     
  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>
     
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :contactnum %><br>
    <%= f.text_field :contact %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>

<% end %>
 <h2>Already have an account ? Just  <%= link_to 'Login',  agentlog_path %> </h2> 

 