<<!DOCTYPE html>
<html>
<head>
<style>



</style>
Welcome <%=@renter.name%>
<h1 text-align:center ,color:darkblue> Your Properties</h1>

<button class="btn">
<%=link_to "back",viewprop_path%>
	</button>
<button class="btn">
<%= link_to "logout", destroy_renter_session_path, method: :delete %>
</button>
<% if @property.flag == 0%>
<%= link_to "Rent This", addrentedprop_path(@property)%>
<%ratingid=0%>
<% else%>
<%if @check.renter_id == current_renter.id %>
Property has been already booked by you!
<% ratingid =1%>
<%else%>
Property has been already booked by someone
<%ratingid=0%>
<%= link_to "Add to wishlist", addwishlist_path(@property)%>
<%end%>
<%end%>


<div class="box" style="background-color: ">
<h2 class="center"><%= @property.name%><br></h2>
<span >Property Location :</span>
<span class="border"><%= @property.address %></span><br>
<span>Property rent</span>
<span class="border"><%= @property.rent%> Dollars per day</span><br>
<span >Property City</span>
<span class="border"><%= @property.city%></span><br>
<span >Number of bedrooms</span>
<span class="border"><%= @property.bedrooms%></span><br>
<span >About Property</span>
<span class="border"><%= @property.description%>
</span>


<%(0...@property.images.count).each do |img| %>

    <%= image_tag(@property.thumbnail(img)) %>
 

<%end%>
<br>
<%if ratingid == 1%>
provide some ratings and reviews 
<%= form_for :@reviews, url:'/reviews'   do |f| %>
<div class="group">
<p>
    <%= f.label :rating ,class:"label"%><br>
    <%= f.text_field :rating, class:"input" %>
    </p>
    
    <%= f.label :reviews, class:"label"%><br>
    <%= f.text_area :reviews, class:"input" %>
  </p>
<%= f.hidden_field :property_id, value: @property.id %>
  <br>
    <%= f.submit  "Add Reviews" ,class:"btn"%>
</div>
<%end%>
<%end%>
<% @reviewslist.each do|review|%>
<div>
<% @rentername=Renter.find(review.renter_id)%>
Name:
<%=@renter.name%>
<br>
Reviews
<%=review.reviews%>
<br>
Ratings:
<%= review.rating %>
<hr>
</div>
<%end%>
