<!DOCTYPE html>
<html>
<head>
<style>
.sidebtn{
  margin-left:90%;
  border: none;
  background-color:#333333;
  border-radius: 5px;
  font-size: 13px;
  padding: 4px 4px;
  color:white;
  cursor: pointer;
  display: inline-block;

}
.rating{
  margin-left:25px;
  border-radius:30px;
  width:10%;
  padding:10px;
}
.review{
  margin-left:25px;
  border-radius:15px;
  width:35%;
  padding:5px;
}
.alignment{
  margin-left:5%;
  color:#8c8c8c

}
.sidebtn:hover{
	  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
  .leftpad{
    margin-left:30%;
    width:50%;
  }
</style>

</head>
<body>
 <ul>
  <li><%=link_to "back",viewprop_path, class:"active"%></li>
  <li style="float:right"><%= link_to "logout", destroy_renter_session_path, method: :delete %></li>
  </ul>
<br><br>
<div class="center">
Welcome <%=@renter.name%>
<br>

</div>
<br>
<%# if the particular property is not rentd means then we can approach that property%>
<%@rentercheckflag=0%>
<% if @property.flag == 0%>
<%if @approachflag == 1%>
<div class="alignment" >your Approaches has been updated</div>
<%else%>
<div class="sidebtn">
<%= link_to "Approach Property", addapproach_path(@property)%></div>
<%end%>
<%else%>
<%if @check.renter_id == current_renter.id %>
<div class="alignment" >The Agent Approved your request, check your mail and get connect with the agent:</div>
<%@rentercheckflag=1%>
<%else%>
<div class="alignment">Sorry, This Property has been already booked by another renter, 
Still you can add it to your wishlist</div>

<%= link_to "Add to wishlist", addwishlist_path(@property),class:"sidebtn"%>

<%end%>
<%end%>
<br>
<br>
<table class="leftpad">
  <tr>
    <th>Property Name:</th>
    <td><%= @property.name%></td>
  </tr>
  <tr>
    <th>Property rent:</th>
    <td><%= @property.rent%></td>
  </tr>
  <tr>
    <th>Property Location:</th>
    <td><%= @property.address%></td>
  </tr>
  <tr>
    <th>Property City</th>
    <td><%= @property.city%></td>
  </tr>
  <tr>
    <th>Number of bedrooms</th>
    <td><%= @property.bedrooms%></td>
  </tr>
  <tr>
    <th>About Property:</th>
    <td><%= @property.description%></td>
  </tr>
</table>
<br>
<div class="center">Property Images:
<br><br>

<%(0...@property.images.count).each do |img| %>

   <a href=""> <%= image_tag(@property.thumbnail(img)) %></a>
 

<%end%>
</div>
<br>
<%if @rentercheckflag==1%>
<div class="alignment">provide some ratings and reviews </div>
<%= form_for :@reviews, url:'/reviews'   do |f| %>
<div class="group">
<p>
    <%= f.label :rating,class:"rating"%><br>
    <%= f.number_field :rating,class:"rating",placeholder: "    Out of five",max: 5%>
    </p>
    
    <%= f.label :reviews, class:"rating"%><br>
    <%= f.text_area :reviews,class:"review" %>
  </p>
<%= f.hidden_field :property_id, value: @property.id %>
  
    <%= f.submit  "Add Reviews" ,class:"btn"%>
</div>
<%end%>
<%end%><br>
<% @reviewslist.each do|review|%>
<div>
<% @rentername=Renter.find(review.renter_id)%>
<div class="alignment">Name:
<%=@renter.name%></div>
<br>
<div class="alignment">Reviews:
<%=review.reviews%></div>
<br>
<div class="alignment">Ratings:
<%= review.rating %></div>
<hr>
</div>
<%end%>
</body>
