<<!DOCTYPE html>
<html>
<head>
	
	<style >
		body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
  background-color: darkorange;
	}

.center{
  text-align:center;
}
*{
  box-sizing: border-box;
}

.box {
  float: left;
  width: 32.33%;
  padding: 30px;
  margin-left: 10px;
	border-collapse: collapse;
    background-color:darkblue; 
   border-radius: 40px;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    min-height: 600px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.border{
    
border-width: 1px;
border-style: inset; 
border-radius: 10px;
color: black;
width:100%;
	color:#ccc;
	display:block;
  	border-radius:25px;
	  border:none;
	padding:15px 20px;

	background:rgba(255,255,255,.1);
}

.btn1 {
  border: none;
  background-color: orange;
  padding: 14px 28px;
  border-radius: 12px;
  font-size: 16px;
  margin-left: ;
  cursor: pointer;
  color: black;
  display: inline-block;
}
.btnr {
  border: none;
  background-color: orange;
  padding: 14px 28px;
  border-radius: 12px;
  font-size: 16px;
  margin-left: 80%;
  cursor: pointer;
  color: black;
  display: inline-block;
}
.btns{
  border: none;
  background-color: blue;
  padding: 14px 28px;
  border-radius: 12px;
  font-size: 13px;
color:white;
  cursor: pointer;
  
  display: inline-block;
}
.center{
	text-align:center;
	font-size: 24px;
}

.btn1:hover, .btnr:hover, .btn1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
</style>


<h1 text-align:center ,color:darkblue> Welcome <%=@renter.name%></h1>


	<div class="login-form">
	<div class="sign-in-htm">
	<button class="btn1">
	<%=link_to "back",viewprop_path%>
	</button>
<button class="btnr">
<%= link_to "logout", destroy_renter_session_path, method: :delete %>
</button>
<br>
<h3 class="center">Your rented lists</h3>

<% @properties.each do |prop|%>

<div class="clearfix">
<div class="box" style="background-color: ">
<div class="btn">
<%=link_to "unrent", unrent_path(prop)%></div>
<% prop = Property.find(prop.property_id)%>
<h2 class="center"><%= prop.name%><br></h2>
<span >Property Location :</span>
<span class="border"><%= prop.address %></span><br>
<span>Property rent</span>
<span class="border"><%= prop.rent%> Dollars per day</span><br>
<span >Property City</span>
<span class="border"><%= prop.city%></span><br>
<span >Number of bedrooms</span>
<span class="border"><%= prop.bedrooms%></span><br>
<button class="btns">
<%= link_to "Expore this property", viewproperty_path(prop)%>
</button>
</div>
<% end %>