<!DOCTYPE html>
<html>
<head>
	
	<style >
	.btns{
    margin-left:5%;
    background-color:#333333;
  }
  .btn2{
  border: none;
  margin-left:40%;
  background-color:#333333;
  border-radius: 5px;
  font-size: 13px;
  padding: 4px 4px;
  color:white;
  cursor: pointer;
  display: inline-block;}
</style>

  <ul>
  <li><%=link_to "back",viewprop_path, class:"active"%></li>
  <li style="float:right"><%= link_to "logout", destroy_renter_session_path, method: :delete %></li>
  </ul>



<h1 class="center"> Welcome <%=@renter.name%></h1>

	<div class="login-form">
	<div class="sign-in-htm">

<h3 class="center"><i>Your wish lists</i></h3>
<% if @properties == nil %>
<% puts "noproperties"%>
<%end%>
<% @properties.each do |prop|%>

<div class="clearfix">
<div class="box" style="background-color: ">

<% prop = Property.find(prop.property_id)%>
<div class="btns"><%=link_to "Remove", remove_path(prop)%></div>
<%= link_to "View property", viewproperty_path(prop),class:"btn2"%>
	
	
		<h2 class="propname"><%= prop.name%><br></h2>
		

	<%(0...prop.images.count+1 - prop.images.count).each do |img| %>
   <a href=""> <%= image_tag(prop.thumbnail(img),class:"br") %></a>
   <%end%>
   		<span >Property Location :</span>
		<span class="border"><%= prop.address %></span><br>
		<div>&ensp;Rent &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;Bedrooms</div>
		<div class="rent"><%= prop.rent%></div>

		<div class="bedrooms"><%= prop.bedrooms%></div>
		<span >City</span>
		<div class="border"><%=prop.city%></div>
		
		<span >About Property</span>

		<span class="border"><%= prop.description%></span>
		
			</div>
		<div>
		<% end %>
