<!DOCTYPE html>
<html>
<head>


<ul>
  <li><%= link_to "RentedList", rentedlistp_path ,class:"active"%></li>
  <li><%= link_to "Wishlist",wishlistp_path, style: 'color: #FFFFFF' %></li>
   <li style="float:right"><%= link_to "logout", destroy_renter_session_path, method: :delete %></li>
</ul>

<h1 class="center"> Welcome <%=@renter.name%></h1>


	<div class="login-form"> <div class="sign-in-htm">
	
	<% @propertylist.each do |prop|%>
		<div class="clearfix">
		<div class="box">
		<button class="btn1">
	<%= link_to "View property", viewproperty_path(prop)%>
	</button>
		<h2 class="propname"><%= prop.name%><br></h2>
		

	<%(0...prop.images.count+1 - prop.images.count).each do |img| %>
   <a href=""> <%= image_tag(prop.thumbnail(img),class:"br") %></a>
   <%end%>
   		<span >Property Location :</span>
		<span class="border"><%= prop.address %></span><br>
		<div>&ensp;Rent &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;Bedrooms</div>
		<div class="rent"><%= prop.rent%></div>

		<div class="bedrooms"><%= prop.bedrooms%></div>
		<span >City</span>
		<div class="border"><%=prop.city%></div>
		
		<span >About Property</span>

		<span class="border"><%= prop.description%></span>
		
			</div>
		<div>
		<% end %>

















			

